body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #007BFF;
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ccc;
    padding: 10px 0 10px 0;
    background-color: #e0e0e0;
    border-radius: 5px;
}